.App {
  position: relative;
}

.App-header h1 {
  padding: 5%;
  display: flex;
  justify-content: center;
}
.box {
  display: flex;
  flex-direction: row;
  padding: 5%;
  align-items: center;
  justify-content: space-evenly;
}

.hand {
  display: flex;
  justify-content: center;
  align-items: center;
}
